<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="activeTab === 'saisir'"
          (click)="setActiveTab('saisir'); $event.preventDefault();"
          href="#"
          >Saisir un client</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="activeTab === 'afficher'"
          (click)="setActiveTab('afficher'); $event.preventDefault();"
          href="#"
          >Afficher les clients</a
        >
      </li>
    </ul>
  
    <div class="tab-content mt-3">
      <div *ngIf="activeTab === 'saisir'">
        <app-ajouter-client></app-ajouter-client>
      </div>
      <div *ngIf="activeTab === 'afficher'">
        <app-afficher-clients></app-afficher-clients>
      </div>
    </div>
  </div>
  