<div class="container mt-5">
    <div class="row">
      <div class="col-3">
        <ul class="list-group">
          <li class="list-group-item">
            <a routerLink="gestion-factures">Gestion Factures</a>
          </li>
          <li class="list-group-item">
            <a routerLink="gestion-clients">Gestion Clients (En construction)</a>
          </li>
          <li class="list-group-item">
            <a routerLink="gestion-collaborateurs">Gestion Collaborateurs (En construction)</a>
          </li>
        </ul>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  