<div class="container">
  <form (ngSubmit)="saisirFacture()">
    <div class="form-group">
      <label>Référence</label>
      <input
        type="text"
        [(ngModel)]="facture.reference"
        name="reference"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Date d'établissement</label>
      <input
        type="date"
        [(ngModel)]="facture.dateEtablissement"
        name="dateEtablissement"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Date d'échéance</label>
      <input
        type="date"
        [(ngModel)]="facture.dateEcheance"
        name="dateEcheance"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>TJM</label>
      <input
        type="number"
        [(ngModel)]="facture.tjm"
        name="tjm"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>nombre de jours</label>
      <input
        type="number"
        [(ngModel)]="facture.nbJours"
        name="nbJours"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Montant HT</label>
      <input
        type="number"
        [(ngModel)]="facture.montantHT"
        name="montantHT"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Montant TTC</label>
      <input
        type="number"
        [(ngModel)]="facture.montantTTC"
        name="montantTTC"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Nom du Fournisseur</label>
      <input
        type="text"
        [(ngModel)]="facture.nomFournisseur"
        name="nomFournisseur"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Nom du Client</label>
      <input
        type="text"
        [(ngModel)]="facture.nomClient"
        name="nomClient"
        required
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Statut</label>
      <select
        [(ngModel)]="facture.statut"
        name="statut"
        required
        class="form-control"
      >
        <option value="payé">Payé</option>
        <option value="non payé">Non Payé</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
